# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pkl

# Folders
data/raw/COCO/**
!data/raw/COCO/README.md
venv/
models/inpaint/.locks
models/inpaint/models--kandinsky-community--kandinsky-2-2-decoder-inpaint
models/inpaint/models--kandinsky-community--kandinsky-2-2-prior
models/inpaint/models--stabilityai--stable-diffusion-2-inpainting
data/processed/masks/CNN_masks
data/processed/train
data/raw/CASIA2/triplets.pkl
data/raw/CASIA2/Tampered
data/raw/CASIA2/Authentic
data/raw/CASIA2/Masks
models/CNN_masks
models/DETIN
eval
data/processed/masks


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# PyBuilder
target/

# DotEnv configuration
.env

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mypy cache
.mypy_cache/
