#C:\Users\donat\.cache\huggingface\hub

accelerate==1.7.0
diffusers==0.33.1
dm-tree==0.1.9
docdata==0.0.5
huggingface-hub==0.31.4
matplotlib==3.8.4
matplotlib-inline==0.1.7
numpy==1.26.4
opencv-python==4.11.0.86
optree==0.15.0
pycocotools==2.0.8
scipy==1.15.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
torch==2.2.0+cu118
torchvision==0.17.0+cu118
torchaudio==2.2.0+cu118
torch-max-mem==0.1.4
torch-ppr==0.0.8
transformers==4.51.3

--extra-index-url https://download.pytorch.org/whl/cu118
